[Unit]
Description=IMAP Proxy
After=network.target

[Service]
Type=forking
PIDFile=/run/imapproxy.pid
ExecStart=/bin/sh -c /usr/sbin/imapproxyd -f /etc/imapproxy.conf -p /run/imapproxy.pid
Restart=always

[Install]
WantedBy=multi-user.target
